body > footer > section:first-child {
    display: none;
}
body > footer:hover > section:first-child {
    display: block;
    position: absolute;
    bottom: 30px;
    left: 0;

    width: 100%;
    height: 56px;
    background-color: white;
    box-shadow: -4.5px -2.3px 3.8px 0.2px rgba(0, 0, 0, 0.24);
}
body > footer:hover > section:first-child > * {
    display: inline-block;
    float: right;
    margin-top: 24px;
    margin-left; 0;
}
#footerRight {
    margin-right: 229px;
}
body > footer > section:first-child > * {
    color: rgb(119,119,119);
}
body > footer > section:first-child > p {
    margin-right: 50px;
}

body > footer > section:last-child {
    width: 100%;
    height: 24px;
    background-color: #eee;
    position: absolute;
    bottom: 0;
    left: 0;
}

body > footer > section:last-child > p {
    margin: 0 auto 0 auto;
    width: 234px;
    height: 8px;
    color: rgba(0, 0, 0, 0.38);
    font-size: 11px;
    font-weight: 400; /* todo шрифты*/
    line-height: 48px;
}