body > header > section:first-child {
    position: relative;
    background-color: #079894;
    height: 64px;
    color: #fff;
}
body > header > section:last-child { /*get off */
    position: relative;
    background-color: #fff;
    height: 47px;
    border: 1px solid rgba(191, 191, 191, 0.25);
}

body > header > section > * {
    display: inline-block;
}

#menuButton {
    padding: 0;
    margin: 25px 20px 26px 24px;
    font-size: 18px;
    color: #fff;
    /*font-weight: lighter;*/
}
#logo {
    padding: 0;
    margin: 17px 14px 14px 3px;
}
#projectName {
    border-left: 1px solid #fff;
    height: 28px;
    padding-left: 17px;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    margin-top: 18px;
    /*vertical-align: middle;*/
}
#userName {
    font-size: 14px;
    margin-top: 24px;
    margin-right: 8px;
}
#exitButton {
    margin: 22px 265px auto 7px; /* todo */
    font-size: large;
}


#menuButton,
#logo,
#projectName{
    float: left;
}

#userName,
#exitButton {
    float: right;
}


body > header > section:last-child > * {
    padding: 0;
    margin: 0;
}
body > header > section:last-child > a {
    clear: left;
    float: left;
    color: rgba(7, 152, 148, 0.87);
    margin: 9px 24px 17px 24px;
    font-stretch: semi-condensed;
}
body > header > section:last-child > a > * {
    margin: 0;
    padding: 0;
    color: rgba(7, 152, 148, 0.87);
}
body > header > section:last-child > a > i {
    margin-right: 10px;
}
body > header > section:last-child > h1 {
    float: left;
    margin: 8px auto auto 3px;
    color: rgba(72, 72, 74, 0.87);
    font-size: 20px;
}

#dropDownMenuButton {
    clear: right;
    float: right;
    width: 4px;
    height: 16px;
    padding: 0;
    margin: 11px 412px auto auto;
    color: rgba(0, 0, 0, 0.54);
    font-size: 19px;
}