body > header > section:first-child {
    position: relative;
    background-color: #079894;
    height: 64px;
    color: #fff;
}
body > header > section:last-child { /*get off */
    position: relative;
    background-color: #fff;
    height: 47px;
    border: 1px solid rgba(191, 191, 191, 0.25);
}

body > header > section > * {
    display: inline-block;
}

#menuButton {
    padding: 0;
    margin: 25px 20px 26px 24px;
    font-size: 18px;
    color: #fff;
    /*font-weight: lighter;*/
}
#logo {
    padding: 0;
    margin: 17px 14px 14px 3px;
}
#projectName {
    border-left: 1px solid #fff;
    height: 28px;
    padding-left: 17px;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    margin-top: 18px;
    /*vertical-align: middle;*/
}
#userName {
    font-size: 14px;
    margin-top: 24px;
    margin-right: 8px;
}
#exitButton {
    margin: 22px 265px auto 7px; /* todo */
    font-size: large;
}


#menuButton,
#logo,
#projectName{
    float: left;
}

#userName,
#exitButton {
    float: right;
}


body > header > section:last-child > * {
    padding: 0;
    margin: 0;
}
body > header > section:last-child > a {
    clear: left;
    float: left;
    color: rgba(7, 152, 148, 0.87);
    margin: 9px 24px 17px 24px;
    font-stretch: semi-condensed;
}
body > header > section:last-child > a > * {
    margin: 0;
    padding: 0;
    color: rgba(7, 152, 148, 0.87);
}
body > header > section:last-child > a > i {
    margin-right: 10px;
}
body > header > section:last-child > h1 {
    float: left;
    margin: 8px auto auto 3px;
    color: rgba(72, 72, 74, 0.87);
    font-size: 20px;
}

#dropDownMenuButton {
    clear: right;
    float: right;
    width: 4px;
    height: 16px;
    padding-left: 15px;
    margin: 11px 412px auto auto;
    color: rgba(0, 0, 0, 0.54);
    font-size: 19px;
}
#filter {
    float: right;
    width: 4px;
    height: 16px;
    margin: 10px 14px auto auto;
    color: rgba(0, 0, 0, 0.54);
    font-size: 19px;
}
body > header > section:last-child > section {
    display: none;
}
body > header > section:last-child > #filter:hover ~ #menu,
#menu:hover {
    display: block;
}
body > header > section:last-child > section {
    position: absolute;
    right: 427px;
    width: 214px;
    height: 154px;
    box-shadow: 0.9px 0.5px 5px rgba(0, 0, 0, 0.3);
    background-color: rgba(255, 255, 255, 1); /* todo not transparent */
    z-index: 1;
}
body > header > section:last-child > section > section > input[type="checkbox"] {
    /*display: inline;*/
    margin: 0 0 0 20px;
    width: 16px;
    height: 16px;
    background-color: #079894;
    display: none;
}
body > header > section:last-child > section > section > label:before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-top: 19px;
    margin-left: 16px;
    background-color: #fff;
    border: 2px solid rgba(117, 117, 117, .54);
    vertical-align:middle;
}
body > header > section:last-child > section > section > input[type="checkbox"]:checked + label:before {
    content: "\2714";
    color: #f3f3f3;
    font-size: 16px;
    /*text-align: center;*/
    line-height: 18px;
    background-color: #079894;
}
body > header > section:last-child > section > section > p {
    display: inline;
    font-size: 14px;
    vertical-align: bottom;
    margin-left: 1px;
}

body > header > section:last-child > section > section {
    margin-left: 6px;
    margin-bottom: 2px;
}
body > header > section:last-child > section > section:first-child {
    margin-top: 4px;
}