body > aside {
    margin: 23px 26px 108px 155px;
    display: inline-block;
    clear: left;
    float: left;
    background-color: #fff;
    height: 311px;
    width: 73px;
}

body > aside > nav {
    width: 75px;
    height: 293px;
    background-color: white;
    border: 1px solid rgba(191, 191, 191, 0.25);
    border-radius: 2px;
    box-shadow: 0.5px 7px 9px rgba(0, 0, 0, 0.2);
}

body > aside > nav > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

body > aside > nav > ul > li {
    height: 48px;
    width: 100%;
    /*text-align: center;*/
    /*vertical-align: middle;*/
    position: relative;
    border-bottom: 1px solid rgba(0, 0, 0, .12);
}
body > aside > nav > ul > li > a {
    position: absolute;
    left: 10px;
    top: 16px;
    color: rgba(1, 1, 1, .54);
    font-size: 13px;
}
body > aside > nav > ul > li > i {
    float: right;
    margin-top: 18px; /* todo проверить после смены шрифтов*/
    margin-right: 10px;
    color: rgba(102, 102, 102, .54);
    font-size: 6px !important;
}