body > section {
    width: 1050px;
    margin: auto;
}

body > section > section {
    float:right;
    display: inline-block;
    margin: 23px 21px -5px auto;
    width: 290px;
    height: 400px;
    background-color: white;
    border: 1px solid rgba(191, 191, 191, 0.25);
    border-radius: 1px;
    box-shadow: 0.2px 3px 7px rgba(0, 0, 0, 0.2);
}

body > section > section > ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

body > section > section > ul > li {
    position: relative;
    border-bottom: 1px solid rgba(0, 0, 0, .12);
    height: 41px;
}
body > section > section > ul > li:first-child {
    position: relative;
    height: 231px;
}
body > section > section > ul > li > p:first-child {
    position: absolute;
    left: 12px;
    top: -2px;
    display: inline;
    font-size: 14px;
}
body > section > section > ul > li > p:last-child {
    float: right;
    margin: 13px 19px auto auto;
    font-size: 14px;
}

#name {
    height: 65px;
    position: relative;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid rgba(0, 0, 0, .12);
}
#name > * {
    position: absolute;
    margin: 0;
}
#name > input[type="checkbox"] {
    width: 18px;
    height: 18px;
    top: 15px;
    left: 14px;
    background-color: #079894;
    display: none;
}
#name > label:before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-top: 15px;
    margin-left: 14px;
    background-color: #fff;
    border: 2px solid rgba(117, 117, 117, .54);
}
#name > input[type="checkbox"]:checked + label:before {
    content: "\2714";
    color: #f3f3f3;
    font-size: 16px;
    text-align: center;
    line-height: 18px;
    background-color: #079894;
}
#name > p {
    top: 42px;
    left: 17px;
    font-size: 12px;
    color: rgba(1, 1, 1, .54);
}
#name > h1 {
    top: 15px;
    left: 47px;
    font-size: 14px;
    color: rgba(1, 1, 1, .54);
}
#name > h2 {
    top: 33px;
    left: 47px;
    font-size: 14px;
    color: rgba(1, 1, 1, .54);
}


#molecule {
    position: absolute;
    bottom: 40px;
    left: 0;
    width: 100%;
    height: 130px;
}
#molecule > a {
    width: 132px; /*todo 107px шрифт*/
    display: block;
    margin: 15px auto auto 88px;
    font-size: 12px;
    color: rgba(7, 152, 148, 0.87);
    text-decoration: underline;
}
#molecule > figure {
    width: 95px;
    height: 76px;
    margin: 17px auto auto 90px;
}

#tools {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background-color: #fafafa;
    border-top: 1px solid rgba(0, 0, 0, .12);
}

#tools > *{
    display: inline-block;
}

#L {
    color: rgba(0, 0, 0, .54);
    margin: 9px 6px 1px 4px;
    font-size: 18px;
}
.fa-pencil {
    margin: 0 17px 0 74px;
    width: 15px;
    height: 15px;
    color: rgba(0, 0, 0, .47);
}
.fa-chevron-left,
.fa-chevron-right {
    color: rgba(0, 0, 0, .54);
    margin: 6px 14px 14px 8px;
    font-size: 12px !important;
}