@import "header.css";
@import "nav.css";
@import "content.css";
@import "footer.css";

html {
    font-family: Arial;
}

body {
    margin: 0;
    min-width: 853px;
}

@font-face {
    font-family: FontAwesome;
    src: url(/fonts/fontawesome-webfont.ttf);
}

a { text-decoration: none; }

body {
    background-color: #fafafa;
}